/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)

   Reset default styles
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    font-family: 'Segoe UI', Tahoma, Helvetica, sans-serif;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*my edits*/

#overlayMaskHeader{
    display: none;
    height: 1576px;
    background: rgba(0,0,0,.3);
    z-index: 1;
}

div {
    display: block;
}

header{
    background: black;
    z-index: 0;
}

header a{
    text-decoration: none;
}

a:visited{
    color: #5a7bad;
}

a{
    transition: .1s ease-in-out;
    text-decoration: none;
}

#topHeader{
    min-height: 21px;
    height: inherit;
}

#rightHeader{
    display: none;
    margin-top: 11px;
    max-width: 1180px;
    float: right;
}

#rightHeader a{
    color: #ffffff;
    font-style: normal;
    font-size: 11px;
}

#rightHeader a:hover{
    color: #9C9C9C;
    font-style: normal;
}

#leftHeader{
    float: left;
}

#auxNavHeader{
    display: flex;
    margin-bottom: 10px;
    flex-direction: row;
}

.subscriptionsHeader{
    margin-left: 27px;
}

.subscriptionsSpanHeader{
    line-height: 18px;
}

#devCenterHugeNameHeader{
    display: none;
}

#devCenterFullNameHeader{
    display: none;
}

#devCenterShortNameHeader{
    display: none;
}

.clip{
    width: 70px;
    height: 15px;
    position: relative;
    overflow: hidden;
}

.msft-logo{
    top: -3px;
    left: -1093px;
    position: absolute;
    width: auto;
    height: auto;
}

#grayPipeDivHeader{
    display: inline-block;
    vertical-align: top;
    width: 1px;
    height: 18px;
    position: relative;
    overflow: hidden;
}

#msdnLogoImgHeader{
    display: inline-block;
    vertical-align: top;
    width: auto;
    height: auto;
}

.grayPipe{
    top: -3px;
    left: -944px;
    border: none;
    max-width: none;
    position: absolute;
}

#buttomHeader{
    background-color: #232323;
}

#rowButtomHeader{
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
}

#bottomHeader{
    position: relative;
    display: grid;
    grid-column: 1/2;
    grid-template-columns: 1fr 45px;
    margin: 0 0 0 16px;
}

#searchBox{
    width: auto;
    height: auto;
    font-size: .8125rem;
    font-weight: 400;
    z-index: 10;
    background-color: #232323;
}

#headerSearchForm{
    display: inline-block;
    float: right;
    height: 45px;
    margin-bottom:0;
    max-width: initial;
}

#headerSearchForm button{
    border: 0;
    padding: 0;
    cursor: pointer;
    color: #8b8b8b;
    display: inline-block;
    float: right;
    width: 45px;
    height: 45px;
    margin: 0;
    min-width: 0;
    background-color: rgba(255,255,255,.15);
}

#searchFinderDiv{
    vertical-align: bottom;
    margin-left: 14px;
    margin-right: 14px;
}

.clip2{
    width: 16px;
    height: 20px;
    position: relative;
    overflow: hidden;
}

#leftBHeader{
    grid-column: 1/2;
    float: none;
    display: inline-block;
}

#rightBHeader{
    float: none;
    position: absolute;
    top: 0;
    right: 0;
    grid-column: 2/3;
}

.search-finder{
    top: -3px;
    left: -1047px;
    position: absolute;
    width: auto;
    height: auto;
}

header img{
    border: none;
}

#leftBHeader{
    display: inline-block;
}

#grip{
    display:inline-block;
    cursor: pointer;
    margin: 16px 18px 11px 0;
}

.menu-icon{
    background: url("https://i-msdn.sec.s-msft.com/Areas/Centers/Themes/StandardDevCenter/Content/HeaderFooterSprite.png?v=636555423305882433") no-repeat scroll -1500px -3px;
    width: 18px;
    height: 17px;
    overflow: hidden;
}

#drawerHuge{
    display: none;
    font-family: wf_segoe-ui_light,'Segoe UI Light','Segoe WP Light',wf_segoe-ui_normal,'Segoe UI',Segoe,'Segoe WP',Tahoma,Verdana,Arial,sans-serif!important;
    font-weight: 400;
}

#leftBHeader div{
    vertical-align: top;
}

#drawerHuge *{
    box-sizing: content-box;
}

main a{
    color: inherit;
}

main a:visited{
    color: inherit;
}

.navL1{
    position: relative;
    vertical-align: top;
}

.toc{
    left: -360px;
    -webkit-transition: left .6s;
}

div.toc nav ul {
    padding: 0;
    margin: 0;
    line-height: 16px;
}

div.toc nav>ul>li {
    float: left;
    position: relative;
    padding: 0;
}

div.toc nav li{
    list-style-type: none;
    background: transparent;
    padding: 0;
}

header div.toc nav ul.navL2 a {
    width: 300px;
}

header div.toc nav ul.navL1>li>a,
header div.toc nav ul.navL2>li>a,
header div.toc nav ul.navL3>li>a {
    font-weight: lighter;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

div.toc nav>ul>li>a::after {
    content: "";
    display: inline-block;
    margin: 0 15px 0 10px;
}

div.toc nav ul.navL1>li:hover a{
    background-color: white;
    color: #555555;
    text-decoration: none;
    border-bottom: solid 5px #ffffff;
}

li.inactiveToggle>a:after{
    background: url("https://i-msdn.sec.s-msft.com/Areas/Centers/Themes/StandardDevCenter/Content/HeaderFooterSprite.png?v=636555423305882433") no-repeat scroll -899px -3px;
    width: 10px;
    height: 6px;
    overflow: hidden;
}

ul.navL2{
    display: none;
}

header div.toc nav ul.navL2 a,
header div.toc nav ul.navL3 a {
    padding: 7px 20px;
    font-size: 18px;
    color: #555;
    line-height: 34px;
}

header div.toc nav li>a {
    color: #737373;
    display: inline-block;
    font-size: 20px;
    padding: 0 15px;
}

.navL1>.inactiveToggle:hover>a:after{
    background: url("https://i-msdn.sec.s-msft.com/Areas/Centers/Themes/StandardDevCenter/Content/HeaderFooterSprite.png?v=636555423305882433") no-repeat scroll -882px -3px;
    width: 10px;
    height: 6px;
    overflow: hidden;
}


header div.toc nav ul.navL2>li:hover>a,
header div.toc nav ul.navL3>li:hover>a{
    background-color: #f2f2f2;
}

header div.toc nav ul.navL1>li:hover,
header div.toc nav ul.navL2>li:hover,
header div.toc nav ul.navL3>li:hover {
    background-color: #ffffff;
}

header div.toc nav ul.navL1>li:hover>a,
header div.toc nav ul.navL2>li:hover>a,
header div.toc nav ul.navL3>li:hover>a {
    color: #555;
    text-decoration: none;
}

header div.toc nav ul.navL1>li>a {
    color: #fff;
    padding: 12px 0 12px 15px;
    display: inline-block;
    border-bottom: solid 5px transparent;
}

ul.navL1>li>a:hover {
    background-color: white;
    border-bottom: solid 5px white;
}

div.toc nav li>a{
    font-size: 20px;
}

.navL2{
    display: none;
}

h1{
    font-size: 2.769em;
    padding: 20px 0 0 0;
    line-height: 1;
}

a:link img{
    border: 0;
}

#msdnLogoImgHeader img{
    border: none;
    max-width: none;
}

#searchFinderDiv img{
    max-width: none;
}

img{
    max-width: 100%;
}

h2{
    font-size: 1.769em;
    line-height: 1;
}

h2,h3,h4,h5{
    font-family: 'Segoe UI Semibold','Segoe UI',Tahoma,Helvetica,sans-serif;
}

header div.toc nav ul.navL2 {
    left: -1px;
    border: 1px solid #bbb;
    border-top: none;
    box-shadow: 0 1px 1px 0 rgba(10,10,10,.25);
}

header div.toc nav ul.navL2,
header div.toc nav ul.navL3 {
    display: none;
    position: absolute;
    z-index: 200;
    background-color: #fff;
    padding: 20px 0;
    line-height: 1rem;
    line-height: 16px;
}

.navL1>.inactiveToggle:hover>.navL2{
    display: block;
}


div#page main{
    margin-top: 0 !important;
    margin-bottom: 0;
    max-width: 100%;
    width: 100%;
    font-family: "Segoe UI Light", "Segoe UI", Frutiger, Tahoma, Helvetica, Arial, sans-serif;
    font-weight: 300;
}

main{
    display: block;
    min-height: 400px;
    margin: 0 auto 59px;
}

main div[data-fragmentname] {
    margin-bottom: 0;
}

#fragHeroHeadlines>div{
    width: calc(100% - 32px);
    max-width: 1180px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

#fragHeroContent .richText{
    height: 395px;
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.heropaneltext{
    padding: 0;
    font-size: 1.25rem;
    line-height: 1.07rem;
}

.heropaneltext h1{
    font-size: 2.5rem;
    line-height: 1.2em;
    padding: 0 0 20px 0;
}

.heropaneltext p{
    padding-left: 2px;
}

main a:hover, main a:active{
    color: #2a7ae2;
    text-decoration: none;
}

.heropanelimg img{
    display: block;
}

.resourceBlock{
    float: left;
    width: 16.6%;
    height: 12.42%;
    padding-top: 21px;
    padding-bottom: 5px;
    margin-right: 3.4%;
    text-align: center;
    font-size: 1.25rem;
    line-height: 1em;
    color: #414042;
}

#fragResourceBand{
    background-color: #f1f1f1;
}

#fragResourceBand .richText{
    width: 90%;
    max-width: 1062px;
    margin: 0 auto;
    padding: 0;
}

#fragResourceBand .richText .resourceBand{
    overflow: hidden;
    padding: 10px 0 50px 2%;
}

.resourceBlock img {
    width: 61.1%;
    height: auto;
}

#fragHeroHeadlines>div, #fragFeaturesHeading .richText, #fragResourceBand.richText, #fragFeatures, #fragSocialBand.richText{
    width: calc(100% - 32px);
    max-width: 1180px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

#fragFeaturesHeading .richText{
    padding-top: 40px;
    text-align: center;
}

#fragFeaturesHeading .richText h2{
    line-height: 1.79em;
}

div#fragFeatures{
    padding: 40px 0 62px 0;
    overflow: hidden;
}

div#fragFeatures .detailedMediaList{
    display: grid;
    grid-template-columns: 200fr 11fr 200fr 11fr 200fr;
}

#fragContentInclude1{
    grid-column: 1/2;
}

#fragContentInclude2{
    grid-column: 3/4;
}

#fragContentInclude3{
    grid-column: 5/6;
}

#fragFeatures .title,
#fragFeatures .detailedMediaList .label{
    color: #fff;
    text-align: center;
    background: #767676;
    line-height: 29px;
    padding: 0;
    margin: 0;
}

#fragFeatures .detailedMediaList .label{
    display: block;
    width: 100%;
}

#fragFeatures .textContent {
    padding: 13px 0;
}

.detailedMediaList .textContent {
    margin-top: 5px;
}

#fragFeatures .textContent .link,
#fragFeatures .textContent .linkText {
    font-size: 1.25rem;
    line-height: 1.07em;
    color: #010101;
}

footer{
    display: block;
    background-color: #eeeeee;
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Helvetica, sans-serif;
    font-weight: normal;
}

div#footerSock{
    min-height: 60px;
    background-color: #0078d7;
    color: #fff;
    line-height: 16px;
    font-size: 16px;
    font-family: 'Segoe UI Light','Lucida Grande',Verdana,Arial,Helvetica,sans-serif;
}

div#footerSock div#footerSockInner{
    max-width: 1180px;
    width: 97%;
    min-height: 60px;
    margin: auto;
    text-align: center;
}

div#footerSock div#footerSockInner div.footerSockLeft{
    float: left;
    height: 60px;
}

div#footerSock div#footerSockInner div.footerSockCenter{
    display: block;
    min-height: 60px;
    margin: 0 auto;
}

div#footerSock div#footerSockInner div.footerSockRight{
    float: right;
    display: table;
    height: 60px;
}

div#footerSock div#footerSockInner>div:empty {
    display :none!important;
}

footer .clear{
    clear: both;
}

.clear {
    display: block;
    clear: both;
}

div#footerSock div#footerSockInner div.footerSockLeft div#fragSocialLinks{
    height: 100%;
}

div#footerSock div#footerSockInner div.footerSockLeft div#fragSocialLinks div.linkList{
    display: table;
    height: 100%;
}

div#footerSock div#footerSockInner div.footerSockLeft div#fragSocialLinks div.linkList>div,
div#footerSock div#footerSockInner div.footerSockLeft div#fragSocialLinks div.linkList>ul{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

div#footerSock div#footerSockInner div.footerSockLeft div#fragSocialLinks div.linkList .linksListTitle{
    font-size: 1.25em;
    padding-right: 12px;
}

div#footerSock div#footerSockInner div.footerSockLeft div#fragSocialLinks div.linkList ul>li{
    float: left;
    padding: 3px;
}

div#footerSock div#footerSockInner div.footerSockLeft div#fragSocialLinks div.linkList ul>li>a{
    display: inline-block;
    color: transparent;
    text-indent: -100000px;
}

div#footerSock div#footerSockInner a{
    transition: none;
}

.linkList>ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.linkList>ul>li{
    list-style-type: none;
    background: none;
    padding: 0;
    margin: 0;
}

footer .footerSockLeft .facebook{
    background: url("https://i-msdn.sec.s-msft.com/Areas/Centers/Themes/StandardDevCenter/Content/HeaderFooterSprite.png?v=636555423305882433") no-repeat scroll -1643px -3px;
    width: 32px;
    height: 32px;
    overflow: hidden;
}

footer .footerSockLeft .twitter{
    background: url("https://i-msdn.sec.s-msft.com/Areas/Centers/Themes/StandardDevCenter/Content/HeaderFooterSprite.png?v=636555423305882433") no-repeat scroll -1761px -3px;
    width: 33px;
    height: 32px;
    overflow: hidden;
}

footer .footerSockLeft .vkOne{
    background: url("https://i-msdn.sec.s-msft.com/Areas/Centers/Themes/StandardDevCenter/Content/HeaderFooterSprite.png?v=636555423305882433") no-repeat scroll -1801px -3px;
    width: 33px;
    height: 33px;
    overflow: hidden;
}

div#footerSock div#footerSockInner div.rating{
    min-width: 290px;
}

div#footerSock div#footerSockInner div.rating,
div#footerSock div#footerSockInner div.userVoice {
    min-height: 60px;
}

div#footerSock div#footerSockInner div.rating div.ratingSection1,
div#footerSock div#footerSockInner div.userVoice div.ratingSection1 {
    display: table;
    height: 60px;
}

div#footerSock div#footerSockInner div.footerSockCenter div.rating>div {
    margin: auto;
}

div#footerSock div#footerSockInner div.rating div.ratingSection1>div,
div#footerSock div#footerSockInner div.userVoice div.ratingSection1>div {
    display: table-cell;
    vertical-align: middle;
    height: 60px;
}

div#footerSock div#footerSockInner div.rating div.title,
div#footerSock div#footerSockInner div.userVoice div.title {
    font-family: 'Segoe UI Light','Lucida Grande',Verdana,Arial,Helvetica,sans-serif;
    color: #fff!important;
    line-height: 20px;
    margin: 0 0 15px 0;
    font-size: 1.25em;
    font-weight: normal;
    clear: none;
}

div#footerSock div#footerSockInner div.rating div.description {
    margin-bottom: 26px;
}

div#footerSock div#footerSockInner div.rating div.description,
div#footerSock div#footerSockInner div.userVoice div.description {
    display: none!important;
}

div#footerSock div#footerSockInner div.rating div.buttons,
div#footerSock div#footerSockInner div.userVoice div.buttons {
    margin-top: 10px;
    padding-top: 0;
    min-width: 165px;
}

div#footerSock div#footerSockInner div.rating div.buttons>.button,
div#footerSock div#footerSockInner div.rating div.buttons>div>.button {
    padding: 7px 18px;
}

div#footerSock div#footerSockInner div.rating div.buttons>.button,
div#footerSock div#footerSockInner div.userVoice div.buttons>.button,
div#footerSock div#footerSockInner div.rating div.buttons>div>.button,
div#footerSock div#footerSockInner div.userVoice div.buttons>div>.button {
    cursor: pointer;
    font-size: .8em;
    line-height: 16px;
    color: #fff;
    border: 2px solid #fff;
    background-color: #0078d7;
    margin: 0 0 0 10px;
    min-width: 0;
}

div#footerSock div#footerSockInner div.rating div.buttons>.button:hover,
div#footerSock div#footerSockInner div.userVoice div.buttons>.button:hover,
div#footerSock div#footerSockInner div.rating div.buttons>div>.button:hover,
div#footerSock div#footerSockInner div.userVoice div.buttons>div>.button:hover {
    background-color: #fff;
    color: #000;
}

div#footerSock div#footerSockInner div.footerSockRight a {
    font-size: 1.25em;
    line-height: 20px;
    color: #fff;
}

div#footerSock div#footerSockInner a {
    transition: none;
}

div#footerSock div#footerSockInner div.footerSockRight>div {
    display: table-cell;
    vertical-align: middle;
}

div#footerSock div#footerSockInner div.footerSockRight #fragNewsletter>a::after {
    content: ' ';
    display: inline-block;
    width: 40px;
    height: 26px;
    margin-left: 7px;
    margin-top: -4px;
    vertical-align: middle;
    background: transparent url("https://i-msdn.sec.s-msft.com/Areas/Centers/Themes/StandardDevCenter/Content/Images/icon-newsletter.png?v=636555423306507436") no-repeat 0 0;
}

.ratingSection1{
    max-width: inherit;
    margin-left: -76.5px;
    margin-right: 76.5px;
}

.rating{
    max-width: 100%;
}

@media screen and (max-width: 767px) {
    main {
        margin: 20px 16px 59px;
        width: auto;
    }

    div#footerSock div#footerSockInner div.footerSockLeft {
        border-bottom: 1px solid #fff;
        float: none;
        padding-left: 16px;
    }
    div#footerSock div#footerSockInner>div {
        text-align: left;
        width: calc(100%)!important;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding-left: 16px;
        padding-right: 16px;
    }
    div#footerSock div#footerSockInner div.footerSockCenter{
        margin: 0;
        border-top: 0;
    }

    div#footerSock div#footerSockInner div.footerSockRight{
        border-bottom: 1px solid #fff;
        float: none;
    }
    div#footerSock div#footerSockInner div.footerSockLeft div#fragSocialLinks div.linkList .linksListTitle{
        font-size: .875em;
    }
    div#footerSock div#footerSockInner div.footerSockCenter div.rating>div,
    div#footerSock div#footerSockInner div.footerSockCenter div.userVoice>div {
        margin: 0;
    }
    div#footerSock div#footerSockInner div.rating div.ratingSection1 .title,
    div#footerSock div#footerSockInner div.userVoice div.ratingSection1 .title{
        padding: 0;
    }
    div#footerSock div#footerSockInner div.rating div.title,
    div#footerSock div#footerSockInner div.userVoice div.title {
        font-size: .875em;
    }
    div#footerSock div#footerSockInner div.rating div.buttons>.button,
    div#footerSock div#footerSockInner div.userVoice div.buttons>.button,
    div#footerSock div#footerSockInner div.rating div.buttons>div>.button,
    div#footerSock div#footerSockInner div.userVoice div.buttons>div>.button {
        font-size: .75em;
        padding: 4px 8px;
    }
    div#footerSock div#footerSockInner div.footerSockRight #fragNewsletter {
        width: 100%;
    }
    div#footerSock div#footerSockInner div.footerSockRight>div {
        display: table-cell;
        vertical-align: middle;
    }
    div#footerSock div#footerSockInner div.footerSockRight a {
        font-size: .875em;
    }
}

@media screen and (max-width: 1262px) {
    main {
        width: 90%;
    }
    div#footerSock div#footerSockInner div.footerSockLeft div#fragSocialLinks div.linkList .linksListTitle{
        font-size: 1em;
    }
    div#footerSock div#footerSockInner div.rating div.title,
    div#footerSock div#footerSockInner div.userVoice div.title {
        font-size: 1em;
    }
    div#footerSock div#footerSockInner div.rating div.buttons>.button,
    div#footerSock div#footerSockInner div.userVoice div.buttons>.button,
    div#footerSock div#footerSockInner div.rating div.buttons>div>.button,
    div#footerSock div#footerSockInner div.userVoice div.buttons>div>.button {
        font-size: .75em;
    }
    div#footerSock div#footerSockInner div.footerSockRight a {
        font-size: 1em;
    }
}

@media screen and (max-width: 1180px) {
    .heropaneltext h1 {
        font-size: 3vw;
    }
}

@media screen and (min-width: 960px){
    #topRowHeader{
        width: 97%;
        max-width: 1180px;
        margin: 0 auto;
        height: 39px;
    }
    #rightHeader {
        display: block;
    }
    #devCenterHugeNameHeader{
        display: inline-block;
        line-height: 37px;
        font-size: 16px;
        margin: 0 18px;
        color: #a0a0a0;
    }
    #msdnLogoImgHeader{
        margin: 10px 0 9px 0;
    }
    .clip{
        width: 70px;
        height: 15px;
    }
    .msft-logo{
        top: -3px;
        left: -1093px;
    }
    #grayPipeDivHeader{
        margin: 9px -4px 10px 18px;
    }
    #rowButtomHeader{
        width: 97%;
        display: grid;
        grid-template-columns: 100%;
    }
    #bottomHeader{
        margin: 0 0 0 0;
        display: grid;
        grid-template-columns: 1fr 45px;
    }
    #leftBHeader{
        grid-column: 1/2;
        display: inline-block;
    }
    #rightBHeader{
        grid-column: 2/3;
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
    }
    #searchBox{
        font-size: 13px;
    }
    #headerSearchForm{
        display: inline-block;
        float: right;
        height: 45px;
        margin-bottom:0;
        max-width: 300px;
    }
    #grip{
        display:none;
        margin: 0 10px 0 0;
    }
    #drawerHuge{
        display: inline-block;
    }
    div#footerSock div#footerSockInner{
        position: relative;
    }
    .footerSockLeft{
        position: absolute;
        top: 0;
        left: 0;
    }
    .footerSockCenter {
        display: inline-block;
        vertical-align: top;
    }
    #fsr1{
        display: inline-block;
    }

    #fsr2{
        display: none!important;
    }
    div#footerSock div#footerSockInner div.footerSockRight {
        float: right;
        display: table;
        height: 60px;
        position: absolute;
        top: 0px;
        right: 0px;
    }
    div#footerSock div#footerSockInner div.footerSockCenter {
        display: inline-block;
        vertical-align: top;
    }
}

@media screen and (max-width: 960px){
    #fragHeroContent .richText{
        height: auto;
    }
    .heropaneltext{
        padding: 12px 30px 30px 27px;
        font-size: 1rem;
        line-height: 1.25rem;
    }
    .heropanelimg{
        padding: 1em 0;
    }
    .heropaneltext h1{
        font-size: 1.75rem;
        padding: 2px 0;
    }
    .heropaneltext p{
        padding-left: 1px;
    }
    #fragResourceBand .richText .resourceBand{
        padding: 10px 0 50px 0;
    }
    .resourceBlock{
        font-size: 1rem;
    }
    div#fragFeatures{
        padding: 30px 0 62px;
    }
    #fragFeatures .textContent .link,
    #fragFeatures .textContent .linkText {
        font-size: 1rem;
        line-height: 1.25em;
    }
    div#footerSock div#footerSockInner{
        width: 100%;
    }
    div#footerSock div#footerSockInner div.footerSockLeft {
        padding-left: 16px;
    }
    div#footerSock div#footerSockInner div.footerSockCenter{
        display: inline-block;
        margin: 0;
        padding-left: 16px;
        width: 100%;
        border-top: 1px solid #fff;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    div#footerSock div#footerSockInner div.footerSockRight{
        padding-right: 16px;
    }

    #fsr2{
        display: inline-block;
    }
    #fsr1{
        display: none!important;
    }
    div#footerSock div#footerSockInner div.footerSockCenter div.rating>div,
    div#footerSock div#footerSockInner div.footerSockCenter div.userVoice>div {
        margin: 0;
    }
}

@media screen and (max-width: 520px){
    #fragHeroContent .richText{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }
    .heropaneltext{
        padding: 12px 20px 30px 0;
        -webkit-box-ordinal-group: 3;
        order: 2;
    }
    .heropaneltext h1{
        font-size: 1.25rem;
    }
    #fragResourceBand .richText {
        border-bottom: none;
    }
    #fragResourceBand .richText .resourceBand{
        padding: 0;
        width: 98%;
        margin: 0 auto;
    }
    .resourceBlock{
        float: none;
        width: 100%;
        height: 63px;
        padding-top: 3px;
        padding-bottom: 2px;
        margin-right: 0;
        text-align: left;
        line-height: 1em;
        color: #414042;
        border-bottom: 2px solid #f1f1f1;
    }
    .resourceBlock p{
        margin-top: 23px;
    }
    .resourceBlock img {
        width: 63px;
        height: auto;
        margin: 0 1rem 0 0;
        float: left;
    }
    div#fragFeatures{
        padding: 15px 0 40px 0;
    }
    div#fragFeatures .detailedMediaList{
        height: auto;
    }
    #fragFeatures .textContent {
        padding: 1px 0;
    }
    div#fragFeatures .detailedMediaList{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .detailedMediaList .textContent{
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 960px) and (min-width: 640px){
    #devCenterFullNameHeader{
        display: inline-block;
        font-size: 14px;
        margin: 18px 0 14px 0;
        color: #a0a0a0;
    }
    #topHeader{
        margin-left: 16px;
    }
    #topRowHeader{
        height: 48px;
    }
    #msdnLogoImgHeader{
        margin: 14px 0 15px 0;
    }
    .clip{
        width: 88px;
        height: 19px;
    }
    .msft-logo{
        top: -3px;
        left: -952px;
    }
    #grayPipeDivHeader{
        margin: 16px 16px 0 16px;
    }
}

@media screen and (max-width: 640px){
    #devCenterShortNameHeader{
        display: inline-block;
        font-size: 14px;
        margin: 15px 0 14px 0;
        color: #a0a0a0;
    }
    #topHeader{
        min-height: 21px;
        margin-left: 16px;
    }
    #topRowHeader{
        height: 42px;
    }
    #msdnLogoImgHeader{
        margin: 11px 0 12px 0;
    }
    .clip{
        width: 88px;
        height: 19px;
    }
    .msft-logo{
        top: -3px;
        left: -952px;
    }
    #grayPipeDivHeader{
        margin: 13px 2px 0 4px;
    }
}